@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    --color-primary:#161616;
    --color-secondary:#1e1e1e;
    --color-border:rgba(255, 255, 255, 0.2);
  }

}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* .maskImage{
  mask-image: url("../public//mask.webp");
  display: block;
  /* flex: 0 0 auto; 
  background-color: rgba(0, 170, 255, 0.3);
  pointer-events: none;
  width: 100%;
  height: 100%;
  /* mask-size: cover; 
  mask-repeat: no-repeat;
  mask-position: center center;
  transform: none;
  animation: mask 50s linear infinite;
}
@keyframes mask {
  0% {
    background: radial-gradient(50% 50% at 50% 50%, rgba(148, 243, 255, 0) 64.5446%, rgb(87, 87, 255) 75.6722%, rgb(79, 161, 255) 84.1938%, rgba(148, 243, 255, 0) 100%);
    opacity: 1;
    transform: perspective(1200px) translate(-50%, -50%);
  }
  100%{
    background: radial-gradient(50% 50% at 50% 50%, rgba(148, 243, 255, 0) 64.5446%, rgb(87, 87, 255) 75.6722%, rgb(79, 161, 255) 84.1938%, rgba(148, 243, 255, 0) 100%);
    opacity: 1;
    transform: perspective(1200px) translate(-50%, -50%) translateX(0px) translateY(0px) scale(0.804331) rotate(0deg) rotateX(0deg) rotateY(0deg) translateZ(0px);
  }
  
} */

